@-webkit-keyframes rotate{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
    from{-moz-transform:rotate(0deg)}
    to{-moz-transform:rotate(359deg)}
}
@-o-keyframes rotate{
    from{-o-transform:rotate(0deg)}
    to{-o-transform:rotate(359deg)}
}
@keyframes rotate{
    from{transform:rotate(0deg)}
    to{transform:rotate(359deg)}
}

.thumb {width:90px; height:90px; background-size:contain; background-repeat:no-repeat; background-position:center center; }
.table>tbody>tr>td { vertical-align:middle; }
.alert-fixed { position:fixed; top:20px; z-index:9999; box-shadow:0px 5px 10px rgba(0,0,0,.5); }
.glyphicon.loading:before,
.loading .glyphicon:before {
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:1s;
    -moz-transition-property:-moz-transform;
    -moz-transition-duration:1s;
    -webkit-animation:rotate 2s linear infinite;
    -moz-animation:rotate 2s linear infinite;
    -o-animation:rotate 2s linear infinite;
    animation:rotate 2s linear infinite;
}

.disable td { color:#999; opacity:0.4; }
.disable td a { color:#999; }
.disable td a.btn { color:#fff; }


@media (min-width: 768px){
	.alert-fixed { width: 720px; }
}
@media (min-width: 992px){
	.alert-fixed { width: 940px; }
}
@media (min-width: 1200px){
	.alert-fixed { width: 1140px; }
}